<header>
 <h1>{{pageTitle}}</h1>
 <p> <a href="/about51">Qualification </a> </p>
 <p> <a href="/inter">Internship</a> </p>
 <p> <a href="/tech">Technical Skills </a> </p>
 <p> <a href="/achie">Achievements</a> </p>
</header>