<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Some Website</title>
 </head>
 <body>
 <h1>{{pageTitle}}</h1>
 <p>{{StudentName}}</p>
 <p style="color:blue">{{StudentLocation}}</p>
 <p>{{Course}}</p>
 </body>
</html>