<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Achievements</title>
 </head>
 <body>
 {{> header}}
 <label><b>ACHIEVEMENTS:-</b></label>
 <table border="1">
 <tr>
     <td>Achievements</td>
	  <td>1.Awarded 2rd prize in Sankalp Enviro Quiz organized by Lovely Professional University<br>
2.Awarded 2nd prize in Chess Competition organized by Lovely Professional University<br>
3.Awarded 1st prize in Pyramid Make Competition organized by MPVM: Ganga Gurukulam</td>
</tr>
</table>

 
 </body>
</html>