<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Some Website</title>
 </head>
 <body>
 <b> Aman Kumar<br></b>
 <p>Male</p>
 <p>Email:- amank7533@gmail</p>
 <p>M: +917889227232{{> header}}</p>
 <p>{{info}}</p>
<p> Footer </p>
 {{> footer}}
 </body>
</html>