<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Internship</title>
 </head>
 <body>
 {{> header}}
 <label><b>INTERNSHIP:-<b></label>
 <table border="1">
 <tr>
 <td>VCare: Under the project of VCare. I developed a VCare Application that helps the patient to fix their appointments with doctor.
The caretaker can update the information about the patient and can track patient anytime. The Application has basic functionalities
for patient like take appointment, registration, doctor details and for caretaker like update details and check name. The Application is
integrated with firebase authentication and SQLite database.</td>

 </body>
</html>