<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Qualification</title>
 </head>
 <body>
 {{> header}}
 <label><b>ACADEMIC QUALIFICATIONS:-</b></label>
 <table border="1">
 <tr>
     <td>Year</td>
	  <td>Degree</td>
	   <td>Institute</td>
	   <td>CGPA / Percentage</td>
</tr>
 <tr>
     <td>Pursuing</td>
	  <td>Bachelor’s of Computer Applications</td>
	   <td>Lovely Professional University, Phagwara</td>
	   <td>8.97/10(till 5th sem)</td>
</tr>
<tr>
     <td>2016</td>
	  <td>XII(UP)</td>
	   <td>M G INT School, Dandi</td>
	   <td>66.7%</td>
</tr>
<tr>
     <td>2013</td>
	  <td>X(CBSE)</td>
	   <td>MPVM : Ganga Gurukulam, Phaphamau</td>
	   <td>7.6/10</td>
</tr>
</table>

 </body>
</html>