<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Technical Skills</title>
 </head>
 <body>
 {{> header}}
 <label><b>TECHNICAL SKILLS:-</b></label>
 <table border="1">
 <tr>
     <td>Skills</td>
	  <td>Technical Language</td>
</tr>
 <tr>
     <td>Programming Languages</td>
	  <td>C, C++</td>
</tr>
 <tr>
     <td>Web Development</td>
	  <td>HTML, CSS, JavaScript</td>
</tr>
<tr>
     <td>Database</td>
	  <td>SQL</td>
</tr>
</table>

 
 </body>
</html>